# SOPS encrypted secrets for node01
# This file must be encrypted with `sops -e` before committing
#
# To encrypt:
#   sops -e -i nix/hosts/node01/secrets.yaml
#
# To edit:
#   sops nix/hosts/node01/secrets.yaml
#
# PLACEHOLDER - Replace with actual Doppler token and encrypt

doppler-token: dp.st.REPLACE_ME
