# Tailscale Operator Kustomization
# This is used by ArgoCD to deploy the operator

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tailscale

resources:
  - namespace.yaml

# Helm chart is deployed via ArgoCD Application
