apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
    version: 1.90.9
    releaseName: tailscale-operator
    namespace: tailscale
    valuesInline:
      # OAuth credentials are managed by ExternalSecret
      # ExternalSecret creates 'operator-oauth' Secret in tailscale namespace
      # When oauth is empty {}, Helm chart uses precreated 'operator-oauth' Secret
      oauth: {}
      operatorConfig:
        hostname: "k8s-"
