apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - tailscale-admin-rbac.yaml
  - dns-config.yaml

helmCharts:
  - name: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
    version: 1.90.9
    releaseName: tailscale-operator
    namespace: tailscale
    valuesInline:
      # OAuth credentials are managed by ExternalSecret
      # ExternalSecret creates 'operator-oauth' Secret in tailscale namespace
      # When oauth is empty {}, Helm chart uses precreated 'operator-oauth' Secret
      oauth: {}
      operatorConfig:
        hostname: "k8s-"
      # Enable API server proxy with auth mode
      # Tailscale identity is used for K8s RBAC
      apiServerProxyConfig:
        mode: "true"

